:root {
  --primary: #fff;
}

.btn {
  padding: 8px 20px;
  border-radius: 2px;
  outline: none;
  border: none;
  cursor: pointer;
}

.btn--special {
  background-color: transparent;
  color: #fff;
  border: none !important;
  transition: all 0.3s ease-out;
  -moz-animation: 2s bounce ease infinite;
  -webkit-animation: 2s bounce ease infinite;
  animation: 2s bounce ease infinite;
  /*animation-duration: 700;*/
}

.btn--special:hover {
  background-color: transparent !important;
  border: none !important;
  color: #777 !important;
}

@keyframes bounce {
  50% {
    transform: translateY(15px);
  }
}

.btn--primary {
  background-color: var(--primary);
  color: #242424;
  border: 1px solid var(--primary);
}

.btn--outline {
  background-color: transparent;
  color: #fff;
  padding: 8px 20px;
  border: 1px solid var(--primary);
  transition: all 0.3s ease-out;
}

.btn--medium {
  padding: 8px 20px;
  font-size: 20px;
}

.btn--large {
  padding: 12px 26px;
  font-size: 20px;
}

.btn--medium:hover,
.btn--large:hover {
  background: #fff;
  color: #242424;
  transition: all 0.3s ease-out;
}
.sha {
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.1), 0px 4px 3px rgba(0, 0, 0, 0.1),
    0px 4px 3px rgba(0, 0, 0, 0.1);
}
